<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap"
      rel="stylesheet"
    />
    <title><%= title %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <%- include('webpack.ejs') %>
  </head>

  <body class="font-sans leading-normal tracking-normal">
    <nav class="nav bg-gray-800 py-2 mt-0 w-full fixed top-0">
      <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
          <a class="text-white no-underline hover:text-white hover:no-underline" href="/">
            <span class="title text-3xl pl-2"><%= site.site_name %></span>
          </a>
        </div>
        <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
          <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
            <li class="mr-3">
              <a
                class="inline-block text-gray-300 no-underline hover:text-gray-100 hover:text-underline py-2 px-4"
                href="#about"
                >About</a
              >
            </li>
            <li class="mr-3">
              <a
                class="inline-block text-gray-300 no-underline hover:text-gray-100 hover:text-underline py-2 px-4"
                href="#address"
                >Address</a
              >
            </li>
            <li class="mr-3">
              <a
                class="inline-block text-gray-300 no-underline hover:text-gray-100 hover:text-underline py-2 px-4"
                href="#hours"
                >Hours</a
              >
            </li>
            <li class="mr-3">
              <a
                class="inline-block text-gray-300 no-underline hover:text-gray-100 hover:text-underline py-2 px-4"
                href="#contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content container px-4 py-4 mx-auto mt-120"><%- content %></div>

    <footer class="footer p-2 mt-0">
      <small class="text-white">&copy; 2021 - Uitzicht Pharmacy</small>
    </footer>
  </body>
</html>
